* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Vonder_Clean;
    src: url(font/VonderClean.ttf);
}

@font-face {
    font-family: Raleway;
    src: url(./Raleway-VariableFont_wght.ttf);
}

#work-h1 {
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;
    font-size: 2rem;
}

#work-div {
    margin-top: 20rem;
    display: grid;
    place-items: center;
    gap: 15px;
}

.background-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -2;
}

nav {
    width: 80rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 2rem auto;

}


#play-image {
    width: 2rem;
    position: absolute;
    margin-left: 11rem;
    margin-bottom: .5rem;
}

#play-image:hover {
    transition: 1s;
    filter: drop-shadow(5px 5px 4px #b88065da); 
}

#pause-image {
    width: 2rem;
    position: absolute;
    margin-left: 11rem;
    margin-bottom: .5rem;
}

#pause-image:hover {
    transition: 1s;
    filter: drop-shadow(5px 5px 4px #b88065da); 
}


nav ul li a {
    color: #FFF;
    font-family: Raleway;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.5rem;
    transition: .5s;

}

nav ul li a:hover {
    color: #AB6E50;
    transition: .5s;
    filter: drop-shadow(2px 5px 4px #22222580);

}

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-logo img {
    height: 45px;
    flex-shrink: 0;
    cursor: pointer;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
    justify-content: space-between;
    flex-direction: row;
    transition: 1s;
}

.nav-logo h1 {
    font-size: 2rem;
    flex-shrink: 0;
    color: white;
    font-family: 'Vonder Clean', sans-serif;
    text-decoration: none;
}

.nav-logo a {
    text-decoration: none;
}

.nav-logo:hover {
    transition: 1s;
    filter: drop-shadow(10px 7px 4px #ab6e5080);
}

.container {
    width: 516px;
    height: 345px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 140px auto;
    filter: drop-shadow(10px 7px 4px #251107b7);
    
}

.container img {
    width: 188px;
    height: 188px;

}

.container h1 {
    color: white;
    font-family: 'Vonder Clean Regular';
    font-family: Vonder_Clean;
    font-size: 9rem;
    font-weight: 400;
}

.container p {
    color: #FFF;
    font-family: Raleway;
    font-size: 36px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    display: inline;

}

.content {
    display: grid;
    justify-items: end;
    
}

.content p {
    margin-top: 6.6rem;
    margin-right: 1rem;
    position: absolute;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
    filter: drop-shadow(10px 7px 4px #251107b7);

}

.musica {
    display: none;
}


.recipes {
    width: 80rem;
    /* BORDA DOS DOIS CARDS JUNTOS */
    /* border: 1px solid gray; */
    margin: 7rem auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cafe {
    height: 31rem;
    width: 30rem;
    border-radius: 73px;
    background: white;
    display: grid;
    padding: 1rem;

    background: rgba(171, 110, 80, 0.0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 25);
    backdrop-filter: blur(8.7px);
    -webkit-backdrop-filter: blur(8.7px);
    border: 1px solid rgba(255, 255, 255, 0.11);
    gap: 1rem;

    transition: 1s;
    /* filter: brightness(50%); */

}

.cafe a {
    text-decoration: none;

}

.cafe:hover {
    background: rgba(255, 255, 255, .1);
    transition: 1s;
    filter: brightness(100%);

}


#cafe-img {
    width: 23rem;
    height: 23rem;
    border-radius: 73px;
    background: #EF0A0A;
    /* ###########OVERFLOW########################### */
    overflow: hidden;
    margin: 10px auto;

}

#cafe-img img {
    position: relative;
    bottom: 10rem;
    right: 30px;
    /* width: 32rem; */
    height: 38.298rem;
    filter: brightness(95%);
    transition: 1s;

}

#cafe-img img:hover {
    filter: brightness(115%);
    transition: 1s;

}

.cafe h1 {
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    font-family: 'Vonder Clean Regular';
    font-family: Vonder_Clean;
    color: white;
    transition: 1s;
    filter: drop-shadow(1px 1px 3px #0000007e);
}

.cafe h1:hover {
    cursor: pointer;
    transition: 1s;
    filter: drop-shadow(10px 7px 4px #00000091);

}

.tea {
    height: 31rem;
    width: 30rem;
    border-radius: 73px;
    background: white;
    display: grid;
    padding: 1rem;
    background: rgba(171, 110, 80, 0.0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 25);
    backdrop-filter: blur(8.7px);
    -webkit-backdrop-filter: blur(8.7px);
    border: 1px solid rgba(255, 255, 255, 0.11);
    gap: 1rem;
    transform: 1s;
}

.tea a {
    text-decoration: none;
}

#tea-img {
    width: 23rem;
    height: 23rem;
    border-radius: 73px;
    background: #EF0A0A;
    /* #################OVERFLOW################## */
    overflow: hidden;
    margin: 10px auto;
}

#tea-img img {
    height: 23rem;
    position: relative;
    /* bottom: 10rem; */
    /* right: 30px; */
    /* width: 32rem; */
    filter: brightness(95%);
    transition: 1s;
}

#tea-img img:hover {
    filter: brightness(115%);
    transition: 1s;
}

.tea h1 {
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    font-family: 'Vonder Clean Regular';
    font-family: Vonder_Clean;
    color: white;
    transition: 1s;
    filter: drop-shadow(1px 1px 3px #0000007e);

}

.tea h1:hover {
    cursor: pointer;
    transition: 1s;
    filter: drop-shadow(10px 7px 4px #00000091);

}

.tea:hover {
    background: rgba(255, 255, 255, .1);
    transition: 1s;

}


#logo-float img {
    width: 6rem;
    transition: .5s;

    animation-name: spin;
    animation-duration: 30000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

#logo-float img:hover {
    color: #AB6E50;
    transition: .5s;
    width: 7rem;

}


.box {

    width: 75px;
    height: 75px;
    background: rgb(255, 255, 255);
    place-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    float: right;
    margin-right: 2.4rem;
    animation:
      bounce 3000ms
      alternate infinite
      cubic-bezier(.2, .65, .6, 1);
      overflow: hidden;
    transition: .8s;

  }

  

  .box img {
    max-width: 100%;
    width: 2.5rem;
    padding-bottom: .1rem;
    transition: .5s;

  }

  .box:hover {
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 25);
    transition: .5s;
  }

  .box-html {

    width: 75px;
    height: 75px;
    background: rgb(255, 255, 255);
    place-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    float: right;
    margin-top: 5rem;
    margin-right: 2.4rem;
    animation:
      bounce 3000ms
      alternate infinite
      cubic-bezier(.2, .65, .6, 1);
      overflow: hidden;
    transition: .8s;

  }

  .box-html img {
    max-width: 100%;
    width: 2.5rem;
    padding-bottom: .1rem;
  }

  .box-html:hover {
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 25);
    transition: .5s;
  }


  #video-bg {
    position: absolute;
    right: 0;
    bottom: 0;
    /* min-width: 100%;
    min-height: 100%; */
    filter: brightness(90%);
    filter: blur(1px);

    height: 1080px;
    z-index: -1;
   
  }



#background-audio {
    display: none;
}













@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-20px);
    }
  }